<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<html>
    <head>
        <title>OCR und OCR Nachkorrektur</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>OCR und OCR Nachkorrektur</h2>
  <form  action="" method="post" role="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="name">Email:</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="What's your email address?">
    </div>
    <div>
 <select name="script">
    <option value="script1">Fraktur</option>
    <option value="script2">Antiqua</option>
    </div>
 
    <div>

 
      <label>Wählen Sie eine Textdatei (*.txt, *.pdf,*.tif,*.jpg,*.png usw.) von Ihrem Rechner aus.
    <input name="scan" type="file" size="50" accept="pdf|jpg|tif|png|txt" id="scan"> 
  </label>  
    </div> 

  <button>… und ab geht die Post!</button>
 </form>
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>
</body>
</html>
